<config>    
    <file
        source_path="C:\Windows\system32"
        destination_path="C:\Program files"
        file_name="kernel32.dll"
    />
    <file
        source_path="C:\Windows\system32"
        destination_path="C:\Users\shilke\PycharmProjects"
        file_name="kernel32.dll"
    />      
    <file
        source_path="/var/log"
        destination_path="/etc"
        file_name="server.log"    
    />
    <file
        source_path="C:\Users\shilke\PycharmProjects"
        destination_path="C:\Users\shilke\PycharmProjects\new23\"
        file_name="acecrosser_ssh_rser.pub"    
    />
    <file
        source_path="C:\Users\shilke\PycharmProjects"
        destination_path="C:\Users\shilke\PycharmProjects\new\"
        file_name="12312.pub"    
    />
    <full
        source_path="C:\Users\shilke\PycharmProjects"
        destination_path="C:\Users\shilke\PycharmProjects\new\"
        file_name="12312.pub"    
    />
    <full
        source_path="/var/log/"
        destination_path="/etc"
        file_name="kern.log"    
    />
</config>
